
@{
    ViewBag.Title = "ChartByAjax";
}

<h2>ChartByAjax</h2>

<div id="chart1"></div>

<script src="~/Scripts/Highcharts-4.0.1/js/highcharts.js"></script>


<script>

    function visitorData(data)
    {
      var chrt = new Highcharts.Chart({  


          chart:
                {
                    type:
                        'line',
                    renderTo: 'chart1'
                },
            title:
                {
                    text:
                        'My Title'
                },
            xAxis:
                {
                    categories:['Cat1', 'Cat2','Cat3']

                },
            yAxis:
                {
                    title:
                        {
                            text:
                                'LEVEL'
                        }
                },
                    series: data

                

      });
      chrt.render();

    }


    $(document).ready(function () {

        $.ajax({
            url: 'GetSampleData1',
            type: 'GET',
            async: true,
            dataType: "json",
            success: function (data) {
                visitorData(data);
            }
        });
    });

</script>

